* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.fondoB {
    background-image: url(../img/SLFondo.png);
    background-size: 100%;
}

/* INICIO DE LOGIN */

.log1 {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 16vh;
}


.log1 .log2 {
    width: 600px;
    padding: 60px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.6);
    border-radius: 10px;
    max-height: 400px;
}

.log2 h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffb641;
    text-align: center;
}

.log2 .usuario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.log2 form input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.log2 input[type="submit"]:hover {
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffb641,
        0 0 25px #ffb641,
        0 0 50px #ffb641,
        0 0 100px #ffb641;
}

.log2 .msg {
    text-align: center;
    padding-top: 20px;
    color: white;
}

/* TERMINO DE LOGIN */

/* INICIO DE INDEX */

.contenedor {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.button {
    --width: 200px;
    --height: 150px;
    --button-color: #1163ff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.1s;
    margin-right: 50px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text,.icon {
    transition: top 0.3s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon p {
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-decoration: none;
}

.button:hover {
    background: #6c18ff;
}

.button:hover .text {
    top: -100%;
}

.button:hover .icon {
    top: 0;
}

.button:hover:before,
.button:hover:after {
    opacity: 1;
    visibility: visible;
}

.button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
/* FIN DE INDEX */

/* INICiO DE VENTAS */

.dv1{

}

.dv2{
    
}

/* FIN DE VENTAS */

/* INICIO DE USUARIO */
.contenedor_usuario{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.area_trabajo{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}
.formulario_datos_usuario{
    display: flex;
    gap: 40px;
}
.datos_usuario{
    display: flex;
    gap: 20px;
}
.tabla_usuario{
    padding: 10%;
}
.espacio_botones_usuario{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.botones_usuario{
    padding: 10px;
}
/* FIN DE USUARIO */