* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.fondoB {
    background-image: url(../img/SLFondo.png);
    background-size: 100%;
}

/* INICIO DE LOGIN */

.log1 {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 16vh;
}


.log1 .log2 {
    width: 600px;
    padding: 60px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.6);
    border-radius: 10px;
    max-height: 400px;
}

.log2 h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffb641;
    text-align: center;
}

.log2 .usuario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.log2 form input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.log2 input[type="submit"]:hover {
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffb641,
        0 0 25px #ffb641,
        0 0 50px #ffb641,
        0 0 100px #ffb641;
}

.log2 .msg {
    text-align: center;
    padding-top: 20px;
    color: white;
}

/* TERMINO DE LOGIN */

/* INICIO DE INDEX */

.indexcontenedor {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexbutton {
    --width: 200px;
    --height: 150px;
    --button-color: #1163ff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.1s;
    margin-right: 50px;
}

.indextext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexbutton-wrapper,.indextext,.indexicon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.indextext {
    top: 0
}

.indextext,.indexicon {
    transition: top 0.3s;
}

.indexicon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexicon p {
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-decoration: none;
}

.indexbutton:hover {
    background: #6c18ff;
}

.indexbutton:hover .indextext {
    top: -100%;
}

.indexbutton:hover .indexicon {
    top: 0;
}

.indexbutton:hover:before,
.indexbutton:hover:after {
    opacity: 1;
    visibility: visible;
}

.indexbutton:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.indexbutton:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
/* FIN DE INDEX */

/* INICiO DE VENTAS */

.dv{
    display: flex;
    width: 95vw;
    height: 95vh;
}

.dv1{
    width: 80%;
    height: 100%;
}

.dv2{
    width: 20%;
    height: 100%;
}

.menubtn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: black;
    color: white;
  }
  
  .menubtn:hover {
    box-shadow: 0 0 20px 0px black;
  }
  
  .menubtn .menuicon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .menubtn .menutext {
    transform: translateX(55px);
  }
  
  .menubtn:hover .menuicon {
    width: 175px;
  }
  
  .menubtn:hover .menutext {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .menubtn:focus {
    outline: none;
  }
  
  .menubtn:active .menuicon {
    transform: scale(0.85);
  }
/* FIN DE VENTAS */