<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>S&L Ventas</title>
	<link rel="stylesheet" href="css/estilo.css">
</head>

<body class="fondoB">
	<div class="log1">
		<div class="log2">
			<h2>Inicio de Sesi&oacute;n</h2>
			<form method="POST" th:action="@{/login}">
				<div class="usuario">
					<input type="text" name="username" id="username" placeholder="Usuario" required>
				</div>
				<div class="usuario">
					<input type="password" name="password" id="password" placeholder="Contrase&ntilde;a" required>
				</div>
				<center>
					<input type="submit" value="Login"/>
				</center>
			</form>
			<div class="msg" th:if="${param.error}">
				Usuario o contrase&ntilde;a incorrectos.
			</div>
			<div class="msg" th:if="${param.logout}">
				Has cerrado sesi&oacute;n.
			</div>
		</div>
	</div>
</body>
</html>