<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Almacen</title>
	<link rel="stylesheet" href="css/estilo.css">
    <script type='text/javascript' src="js/almacen.js"></script>
    <!-- <script type='text/javascript' src="js/jquery.js"></script> -->
</head>

<body class="fondoB">
	<center>
		<div class="dv">
			<div class="dv1">

			</div>
			<div class="dv2">
				<div class="headermenu">
					<a type="button" th:href="@{/}">
						<button class="menubtn">
							<span class="menuicon">
								<svg viewBox="0 0 175 80" width="40" height="40">
									<rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
									<rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
									<rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
								</svg>
							</span>
							<span class="menutext">MENU</span>
						</button>
					</a>
					<div class="menuuser">
						<p>Usuario</p>
					</div>
				</div>
			</div>
		</div>
	</center>
   
    <div id="IrVentanaMarca" class="modal">
        <div class="ventana">
          <div style="text-align: right;">
            <a href="#" style='text-decoration:none;'>
                <button>X</button>
                </a>
          </div>
          <h2>Marcas</h2>
            <form hidden id="addMarca" method="post" th:object="${marca}" th:action="@{/guardarMarca}" >
                <input type="hidden" name="idMarca" id="idMarca">
            </form>
          <div style="margin-top: 15px;" class="contenedor_apartado">
            <div class="area_trabajo">
                <div class="formulario_datos_apartado">
                    <div class="datos_apartado">
                        <div class="form__group field">
                            <input form="addMarca" required="" placeholder="Name" class="form__field" type="input" id="nombreMarca" name="nombreMarca">
                            <label class="form__label" for="name">Nombre</label>
                        </div>
                    </div>
                </div>
                <div class="tabla_apartado">
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th style="width:100px"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr style="color: black;" th:each="marca: ${marcas}" th:id="'m' + ${marca.idMarca}">
                                    <td th:text="${marca.idMarca}"></td>
                                    <td	th:text="${marca.nombreMarca}"></td>
                                    <td ><button th:onclick="|getDataMarca('m${marca.idMarca}')|">Seleccionar</button></td>
                                </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="espacio_botones_apartado">
                <div class="botones_apartado">
                    <button type="submit" form="addMarca" class="menubtn2 mbtn">Nuevo</button>
                </div>
                <div class="botones_apartado">
                    <button type="submit" form="addMarca" class="menubtn2 mbtn">Modificar</button>
                </div>
            </div>
        </div>
        </div>  
      </div>

    <div id="IrVentanaCategoria" class="modal">
        <div class="ventana">
          <div style="text-align: right;">
            <a href="#" style='text-decoration:none;'>
                <button>X</button>
                </a>
          </div>
          <h2>Categorias</h2>
          <form hidden id="addCategoria" method="post" th:object="${categoria}" th:action="@{/guardarCategoria}" >
            <input type="hidden" name="idCategoria" id="idCategoria">
        </form>
          <div style="margin-top: 15px;" class="contenedor_apartado">
            <div class="area_trabajo">
                <div class="formulario_datos_apartado">
                    <div class="datos_apartado">
                        <div class="form__group field">
                            <input form="addCategoria" placeholder="Name" class="form__field" type="input" id="nombreCategoria" name="nombreCategoria">
                            <label class="form__label" for="name">Nombre</label>
                        </div>
                    </div>
                </div>
                <div class="tabla_apartado">
                    <div class="table-wrapper">
                        <table class="fl-table">
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th style="width:100px"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr style="color: black;" th:each="categoria: ${categorias}" th:id="'c' + ${categoria.idCategoria}">
                                    <td th:text="${categoria.idCategoria}"></td>
                                    <td	th:text="${categoria.nombreCategoria}"></td>
                                    <td ><button th:onclick="|getDataCategoria('c${categoria.idCategoria}')|">Seleccionar</button></td>
                                </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="espacio_botones_apartado">
                <div class="botones_apartado">
                    <button type="submit" form="addCategoria" class="menubtn2 mbtn">Nuevo</button>
                </div>
                <div class="botones_apartado">
                    <button type="submit" form="addCategoria" class="menubtn2 mbtn">Modificar</button>
                </div>
            </div>
        </div>
        </div>  
      </div>

    <form hidden id="addProducto" method="post" th:object="${productoNew}" th:action="@{/guardarProducto}" >
        <input type="hidden" id="idProducto" name="idProducto">
    </form>

    <div class="contenedor_apartado">
        <div class="area_trabajo">
        
            <div class="formulario_datos_apartado">
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="addProducto" required placeholder="Descripcion" class="form__field" id="nombreProducto" name="nombreProducto">
                        <label class="form__label" for="name">Descripci&oacute;n</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="etiqueta">
                        <p>Marca:</p>
                    </div>
                    <div class="content-select">
                        <select form="addProducto" id="marca" name="marca">
							<option th:each="marca : ${marcas}" th:value="${marca.idMarca}" th:text="${marca.nombreMarca}"></option>
						</select>
                    </div>
                    <div class="bton_accion">
                        <a href="#IrVentanaMarca"><button>+</button></a>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="addProducto" required placeholder="Stock" class="form__field" id="unidadesExistentes" name="unidadesExistentes">
                        <label class="form__label" for="name">Stock</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="addProducto" required placeholder="Precio" class="form__field" id="precioUnidad" name="precioUnidad">
                        <label class="form__label" for="name">Precio</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="etiqueta">
                        <p>Categoria:</p>
                    </div>
                    <div class="content-select">
                        <select form="addProducto" id="categoria" name="categoria">
							<option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}" th:text="${categoria.nombreCategoria}"></option>
						</select>
                    </div>
                    <div class="bton_accion">
                        <a href="#IrVentanaCategoria"><button>+</button></a>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="etiqueta">
                        <p>Suspendido:</p>
                    </div>
                    <div class="content-select">
                        <select form="addProducto" id="estaSuspendido" name="estaSuspendido">
                            <option value="true">Si</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tabla_apartado">
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Marca</th>
                            <th>Categoria</th>
                            <th>Stock</th>
                            <th>Suspendido</th>
                            <th style="width: 100px"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="producto: ${productos}" th:id="'p' + ${producto.idProducto}">
	                            <td th:text="${producto.idProducto}"></td>
                               	<td	th:text="${producto.nombreProducto}"></td>
	                            <td	th:text="${producto.precioUnidad}"></td>
	                            <td th:text="${producto.marca.nombreMarca}"></td>
                                <td th:text="${producto.categoria.nombreCategoria}"></td>
                                <td	th:text="${producto.unidadesExistentes}"></td>
                                <td	th:text="${producto.estaSuspendido} ? 'Sí' : 'No' "></td>
	                            <td ><button th:onclick="|getDataProducto('p${producto.idProducto}')|">Seleccionar</button></td>
	                        </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="espacio_botones_apartado">
            <div class="botones_apartado">
                <button type="submit" form="addProducto" class="menubtn2 mbtn">Nuevo</button>
            </div>
            <div class="botones_apartado">
                <button type="submit" form="addProducto" class="menubtn2 mbtn">Modificar</button>
            </div>
            <div class="botones_apartado">
                <a href=""><button class="menubtn2 mbtn">Buscar Producto</button></a>
            </div>
        </div>
    </div>
</body>

</html>