<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Caja</title>
	<link rel="stylesheet" href="css/estilo.css">
</head>

<body class="fondoB">
    <div class="contenedor_apartado">
        <div class="area_trabajo">
            <div class="formulario_datos_apartado">
                <div class="datos_apartado">
                </div>
            </div>
            <div class="tabla_apartado">
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>TC</th>
                            <th>Cliente</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Content 1</td>
                            <td>Content 1</td>
                            <td>Content 1</td>
                            <td>Content 1</td>
                            <td>Content 1</td>
                            <td>Content 1</td>
                        </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="espacio_botones_apartado">
            <div class="botones_apartado">
                <a href=""><button class="accion_apartado">Revisar</button></a>
            </div>
            <div class="botones_apartado">
                <a href=""><button class="accion_apartado">Eliminar</button></a>
            </div>
            <div class="botones_apartado">
                <a href=""><button class="accion_apartado">Liquidar</button></a>
            </div>
        </div>
    </div>
    
</body>
</html>