<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	  lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Empleados</title>
	<link rel="stylesheet" href="css/estilo.css">
	<script type='text/javascript' src="js/usuarios.js"></script>
</head>

<body class="fondoB">
	<form hidden id="add" method="post" th:object="${usuario}" th:action="@{/guardarUsuario}" >
    	<input type="hidden" name="idUsuario" id="idUsuario">
    </form>
    
    <div class="dv">
        <div class="dv1">
        </div>
        <div class="dv2">
            <div class="headermenu">
                <a type="button" th:href="@{/}">
                    <button class="menubtn">
                        <span class="menuicon">
                            <svg viewBox="0 0 175 80" width="40" height="40">
                                <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                                <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                                <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                            </svg>
                        </span>
                        <span class="menutext">MENU</span>
                    </button>
                </a>
                <div class="menuuser">
                    <p sec:authentication="name">Usuario</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor_apartado">
        <div class="area_trabajo">
            <div class="formulario_datos_apartado">
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="add" required placeholder="DNI" class="form__field" id="DNI" name="DNI">
                        <label class="form__label" for="name">DNI</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="add" required placeholder="Nombre" class="form__field" id="nombre" name="nombre">
                        <label class="form__label" for="name">Nombre</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="add" required placeholder="Telefono" class="form__field" id="telefono" name="telefono">
                        <label class="form__label" for="name">Telefono</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="date" form="add" required placeholder="FechaNacimiento" class="form__field" id="FechaNacimiento" name="FechaNacimiento">
                        <label class="form__label" for="name">Fecha Nacimiento</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="date" form="add" required placeholder="FechaContratacion" class="form__field" id="FechaContratacion" name="FechaContratacion">
                        <label class="form__label" for="name">Fecha Contratacion</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="add" required placeholder="Dirrecion" class="form__field" id="dirrecion" name="dirrecion">
                        <label class="form__label" for="name">Dirreci&oacuten</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="add" required placeholder="eMail" class="form__field" id="email" name="email">
                        <label class="form__label" for="name">eMail</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="etiqueta">
                        <p>Estado:</p>
                    </div>
                    <div class="content-select">
                        <select form="add" id="acceso" name="acceso">
                            <option>Laborando</option>
                            <option>Suspendido</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tabla_apartado">
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th>CodEmpleado</th>
                            <th>CodUsuario</th>
                            <th>Nombre</th>
                            <th>Dni</th>
                            <th>Telefono</th>
                            <th>FechaNacimiento</th>
                            <th>FechaContratacion</th>
                            <th>Direccion</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th style="width:100px"></th> 
                        </tr>
                        </thead>
                        <tbody>
	                        <tr th:each="empleado: ${empleados}" th:id="'row' + ${empleado.idEmpleado}">
	                            <td th:text="${empleado.idEmpleado}"></td>
                                <td th:text="${empleado.idUsuario}"></td>
	                            <td	th:text="${empleado.nombre}"></td>
	                            <td	th:text="${empleado.dni}"></td>
                                <td	th:text="${empleado.telefono}"></td>
                                <td	th:text="${empleado.fechaNacimiento}"></td>
                                <td	th:text="${empleado.fechaContratacion}"></td>
                                <td	th:text="${empleado.direccion}"></td>
                                <td	th:text="${empleado.correoElectronico}"></td>
                                <td	th:text="${empleado.estado}"></td>
	                            <td ><button th:onclick="">Seleccionar</button></td>
	                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="espacio_botones_apartado">
            <div class="botones_apartado">
                <a style="text-decoration: none;" th:href="@{/usuarios}"><button class="menubtn2 mbtn">Regresar</button></a>
            </div>
            <div class="botones_apartado">
                <button type="" form="add" class="menubtn2 mbtn">Modificar</button>
            </div>
        </div>
    </div>
    
</body>
</html>