<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	  lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Usuarios</title>
	<link rel="stylesheet" href="css/estilo.css">
	<script type='text/javascript' src="js/usuarios.js"></script>
</head>

<body class="fondoB">
	<form hidden id="add" method="post" th:object="${usuario}" th:action="@{/guardarUsuario}" >
    	<input type="hidden" name="idUsuario" id="idUsuario">
    </form>
    
    <div class="dv">
        <div class="dv1">
        </div>
        <div class="dv2">
            <div class="headermenu">
                <a type="button" th:href="@{/}">
                    <button class="menubtn">
                        <span class="menuicon">
                            <svg viewBox="0 0 175 80" width="40" height="40">
                                <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                                <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                                <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                            </svg>
                        </span>
                        <span class="menutext">MENU</span>
                    </button>
                </a>
                <div class="menuuser">
                    <p sec:authentication="name">Usuario</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor_apartado">
        <div class="area_trabajo">
            <div class="formulario_datos_apartado">
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="text" form="add" required placeholder="Nombre" class="form__field" id="nombre" name="nombre">
                        <label class="form__label" for="name">Nombre</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input type="password" form="add" required placeholder="Clave" class="form__field" id="clave" name="clave">
                        <label class="form__label" for="pass">Clave</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="etiqueta">
                        <p>Rol:</p>
                    </div>
                    <div class="content-select">
                        <select form="add" id="acceso" name="acceso">
                            <option>Administrador</option>
                            <option>Usuario</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tabla_apartado">
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th style="width:100px"></th> 
                        </tr>
                        </thead>
                        <tbody>
	                        <tr th:each="usuario: ${usuarios}" th:id="'row' + ${usuario.idUsuario}">
	                            <td th:text="${usuario.idUsuario}"></td>
	                            <td	th:text="${usuario.nombre}"></td>
	                            <td	th:text="${usuario.acceso}"></td>
	                            <td hidden th:text="${usuario.clave}">
	                            <td ><button th:onclick="|getData('row${usuario.idUsuario}')|">Seleccionar</button></td>
	                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="espacio_botones_apartado">
            <div class="botones_apartado">
                <button type="submit" class="menubtn2 mbtn" form="add">Agregar</button>
            </div>
            <div class="botones_apartado">
                <button type="submit" form="add" class="menubtn2 mbtn">Modificar</button>
            </div>
            <div class="botones_apartado">
                <button class="menubtn2 mbtn">Detalles</button>
            </div>
            <div class="botones_apartado">
                <button form="delete" class="menubtn2 mbtn">Eliminar/Suspender</button>
            </div>
        </div>
    </div>
    
</body>
</html>