<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Usuarios</title>
	<link rel="stylesheet" href="css/estilo.css">
</head>

<body class="fondoB">
    <div class="contenedor_usuario">
        <div class="area_trabajo">
            <div class="formulario_datos_usuario"></div>
            <div class="tabla_usuario"></div>
        </div>
        <div class="espacio_botones_usuario">
            <div class="botones_usuario">
                
            </div>
        </div>
    </div>
    
</body>
</html>