<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>S&L Ventas</title>
	<link rel="stylesheet" href="css/estilo.css">
	<script type='text/javascript' src="js/ventas.js"></script>
</head>

<body class="fondoB">
    <div class="dv">
        <div class="dv1">

        </div>
        <div class="dv2">
            <div class="headermenu">
                <a type="button" th:href="@{/}">
                    <button class="menubtn">
                        <span class="menuicon">
                            <svg viewBox="0 0 175 80" width="40" height="40">
                                <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                                <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                                <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                            </svg>
                        </span>
                        <span class="menutext">MENU</span>
                    </button>
                </a>
                <div class="menuuser">
                    <p sec:authentication="name">Usuario</p>
                </div>
            </div>
        </div>
    </div>   

    <form hidden id="add" method="post" th:action="@{/nuevaVenta}">
    </form>
    
    <form hidden id="facturar" method="post" th:action="@{/facturar}"> 
    	<input type="hidden" name="idComprobante" id="idComprobante">
    </form>

    <div class="contenedor_apartado">
        <div class="area_trabajo" style="gap: 0px;">
            <!--<div class="formulario_datos_apartado">
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input required="" placeholder="Name" class="form__field" type="input">
                        <label class="form__label" for="name">Codigo</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input required="" placeholder="Name" class="form__field" type="input">
                        <label class="form__label" for="name">Precio</label>
                    </div>
                </div>
                <div class="datos_apartado">
                        <div class="bton_accion">
                            <button>Busqueda</button>
                        </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input required="" placeholder="Name" class="form__field" type="input">
                        <label class="form__label" for="name">Descripcion</label>
                    </div>
                </div>
                <div class="datos_apartado">
                    <div class="form__group field">
                        <input required="" placeholder="Name" class="form__field" type="input">
                        <label class="form__label" for="name">Stock</label>
                    </div>
                </div>
            </div>-->
            <div class="tabla_apartado" style="margin-top: 14px;height: 50vh;">
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>TC</th>
                            <th>Descripción</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th style="width:100px"></th>
                            <th style="width:100px"></th>
                            <th style="width:100px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="venta: ${ventas}" th:id="'row' + ${venta.idComprobante}">
                            <td th:text="${venta.idComprobante}"></td>
                            <td th:text="${venta.tipoComprobante}"></td>
                            <td th:text="${venta.cliente.nombre}"></td>
                            <td th:text="${venta.empleado.nombre}"></td>
                            <td th:text="${#dates.format(venta.fechaVenta, 'dd-MM-yyyy HH:mm')}"></td>
                            <td th:text="${venta.importe}"></td>
                            <td ><button th:id="'button' + ${venta.idComprobante}" th:onclick="|getData('row${venta.idComprobante}')|">Seleccionar</button></td>
                            <td ><a th:href="@{'/darVenta/'+ ${venta.idComprobante}}"><button>Editar</button></a></td>
                            <td ><a th:href="@{'/eliminarVenta/'+ ${venta.idComprobante}}"><button>Eliminar</button></a></td>
                        </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="espacio_botones_apartado">
            <div class="botones_apartado">
                <button type="submit" form="add" class="menubtn2 mbtn">Nuevo</button>
            </div>
            <div class="botones_apartado">
                <button id="facturarbutton" type="submit" form="facturar" class="menubtn2 mbtn">Facturar</button>
            </div>
        </div>
    </div>
    
</body>

</html>