*{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fondoB{
    background-image: url(../img/SLFondo.png);
    background-size: 100%;
}


/* LOGIN */


/* INICIO INSCRIPCION */

    .log1{
    width: 900px;
    height: 800px;
    justify-content:center;
  }
  
  .log1 .log2{
    margin: 2% 0px 6%;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.692);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0,0,0,.6);
    border-radius: 10px;
    
  }
  
  .log2 h2{
    margin: 0 0 30px;
    padding: 0;
    color: #ffb641;
    text-align: center;
  }
  
  .log2 .usuario input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .log2 form input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: aqua;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .log2 input[type="submit"]:hover{
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #e7d28a,
                0 0 25px #e7d28a,
                0 0 50px #e7d28a,
                0 0 100px #e7d28a;
  }
  
  /* TERMINO DE INSCRIPCION */
  